<!-- <div>
  <h2>Iniciar Sesión</h2>
  
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">Nombre de Usuario:</label>
      <input type="text" id="username" formControlName="username" required>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
</div> -->


<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
      <mat-card-header>
          <h1>Iniciar Sesión</h1>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput>
          </mat-form-field>
          <mat-form-field >
              <mat-label>Contraseña</mat-label>
              <input type="password" formControlName="password" matInput>
          </mat-form-field>
         

      </mat-card-content>
      <mat-card-actions>
          <div class="div-50">
               <button type="submit" color="primary" mat-raised-button>Login</button>
          </div>

      </mat-card-actions>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </mat-card>
</form>