mat-card {
  margin: 2%;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.custom-button {
  background-color: #4CAF50; 
  color: white; 
  border: none;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button-primary {
  background-color: #4CAF50; 
}

.custom-button-secondary {
  background-color: #dc4242; 
}


